.listContItem {
  display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  padding-right: 5px;
  background: linear-gradient(to bottom, #33ccff 0%, #33cc33 100%);

 
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 20px/60px;
  transition: all 0.3s ease-out;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
    0 2px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(0, 0, 0, 0.2);
  /* Font styles */
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  margin-top: 17px;
  font-size: 17px;
  &:hover {
    background: #c7fe0a;
  }
}

.listContDell {
  background-color: #deb8a0;

  background-image: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 20px/60px;
  margin-left: 20px;
  margin-right: 0;
  transition: all 0.3s ease-out;

  &:hover {
    background: #e49312;
  }
}

.listContDellX {
  color: #e49312;
}
.listContDell:hover > .listContDellX {
  color: #670c0cfd;
}
